<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/reset.css"/>
		<link rel="stylesheet" href="css/global.css"/>
		<link rel="stylesheet" href="css/yule.css"/>
		<script src="js/html5shiv.js"></script>
		<script src="js/DD_belatedPNG_0.0.8a.js"></script>
		<!--[if IE 6]>
		<script src="js/DD_belatedPNG_0.0.8a.js"></script>
		<script>
		DD_belatedPNG.fix("h1,div,span,img");
		</script>
		<![endif]-->
	</head> 
	<body>
		<!--头部-->
		<header class="head">
			<!---->
			<div class="nav">
				<div class="navbox clearfix">
					<div class="navleft fl">
						<h1 class="ico logo fl">
							<a href="">爱奇艺</a>
						</h1>
						<div href="" class="ico navmenu fl">导航</div>
						<form class="searchbox fl clearfix">
							<input type="text" placeholder="龙珠超" class="search1 fl"/>
							<a href="" class="ico search2 fr">搜索</a>
						</form>
					</div>
					<ul class="navright fr">
						<li class="enter fl">
							<a href="" class="">登录</a>	
							<span class="ico enterico"></span>
						</li>
						<li class="login fl">
							<a href="" class="">注册</a>
						</li>
						<li class="dredge fl">
							<a href="" class="">开通VIP</a>	
						</li>
						<li class="upload fl">
							<span class="ico uploadico1 "></span>
							<a href="" class="upload1">上传</a>
							<span class="ico uploadico2"></span>
							<span class="ico uploadico3"></span>
						</li>
						<li class="word fl">
							<span class="ico wordico"></span>
							<a href="" class="">消息</a>
						</li>
						<li class="record fl">
							<span class="ico recordico"></span>
							<a href="" class="">播放记录</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="focus">
				<div class="focusmenubox">
					<div class="focusmenu1">
						<div class="bg1"></div>
						<ul class="text clearfix">
							<li class="item1 fl">
								<a href="" class="word">娱乐首页</a>
								<span class="ico line"></span>
							</li>
							<li class="item1 fl">
								<a href="">韩娱频道</a>
								<span class="ico line"></span>
							</li>
							<li class="item1 fl">
								<a href="">明星资讯</a>
								<span class="ico line"></span>
							</li>
							<li class="item1 fl">
								<a href="">影视资讯</a>
								<span class="ico line"></span>
							</li>
							<li class="item1 fl">
								<a href="">音乐演出</a>
								<span class="ico line"></span>
							</li>
							<li class="item1 fl">
								<a href="">综艺精选</a>
								<span class="ico line"></span>
							</li>
							<li class="item2 fl">
								<a href="">爱奇艺早班机</a>
								<span class="ico line"></span>
							</li>
							<li class="item3 fl">
								<a href="">娱乐猛回头</a>
								<span class="ico line"></span>
							</li>
							<li class="item4 fl">
								<a href="">娱乐直通车</a>
							</li>
							<li class="item3 fl">
								<a href="">娱乐风云榜</a>
								<span class="ico line fl"></span>
							</li>
							<li class="item1 fl">
								<a href="">最近更新</a>
								<span class="ico line fl"></span>
							</li>
							<li class="item5 fl">
								<a href="">热点专题</a>
							</li>
						</ul>
					</div>
					<div class="focusmenu2">
						<div class="bg1"></div>
						<a href="" class="ico start"></a>
						<div class="text">
							<h3 class="texttitle">
								<a href="">爱奇艺早班车</a>
							</h3>
							<div class="textcontent">
								<a href="">
									王俊凯粉丝独家回应被骗18万 怒斥风云榜偶扑
								</a>
							</div>								
						</div>
						<a href="" class="ico left"></a>
						<a href="" class="pic1">
							<img src="img/yule/yuletoubu1.jpg">
						</a>
						<a href="" class="pic2">
							<img src="img/yule/yuletoubu2.jpg">
						</a>
						<a href="" class="pic3">
							<img src="img/yule/yuletoubu3.jpg">
						</a>
						<a href="" class="pic4">
							<img src="img/yule/yuletoubu4.jpg">
						</a>
						<a href="" class="pic5">
							<img src="img/yule/yuletoubu5.jpg">
						</a>
						<a href="" class="ico right"></a>
					</div>
				</div>				
			</div>
		</header>
		<!--内容-->
		<section class="content">
			<div class="wrap recreation_focus">
				<header class="head1 clearfix">
					<h2 class="title fl">
						<a href="" class="title1">娱乐头条</a>
					</h2>
					<a href="" class="more fl">更多></a>
					<div class="name fl">
						<a href="" class="name1 fl">大牌对王牌</a>
						<span class="ico line fl"></span>
						<a href="" class="name1 fl">超能大星探</a>
						<span class="ico line fl"></span>
						<a href="" class="name1 fl">娱乐猛回头</a>
						<span class="ico line fl"></span>
						<a href="" class="name1 fl">爱奇艺早班机</a>
						<span class="ico line fl"></span>
						<a href="" class="name1 fl">帕帕帮</a>
						<span class="ico line fl"></span>
						<a href="" class="name1 fl">泡菜帮</a>
						<span class="ico line fl"></span>
						<a href="" class="name1 fl">七分七秒</a>
					</div>
				</header>
				<div class="content1 clearfix">
					<div class="focus1 fl">	
						<a href="">
							<img src="img/yule/yuletoutiao1.jpg"/>
							<span class="bgbox">
								<span class="bg"></span>
								<span class="ico start"></span>
								<span class="text">
									刘烨又要当爸爸了
								</span>
							</span>			
						</a>
					</div>
					<ul class="news fl">
						<li class="news1">
							<h3 class="newstitle">
								<a href="">
									《西北2》获第六届北京电影节开幕影片
								</a>
							</h3>
							<p class="newscontent clearfix">
								<span class="ico start fl"></span>
								<a href="">
									北京电影节宣传片 电影节最新片单：纪念大师塔可夫斯基
								</a>
							</p>
						</li>
						<li class="news2">
							<h3 class="newstitle">
								<a href="">
									《西北2》获第六届北京电影节开幕影片
								</a>
							</h3>
							<p class="newscontent clearfix">
								<span class="ico start fl"></span>
								<a href="">
									北京电影节宣传片 电影节最新片单：纪念大师塔可夫斯基
								</a>
							</p>
						</li>
						<li class="news3">
							<h3 class="newstitle">
								<a href="">
									《西北2》获第六届北京电影节开幕影片
								</a>
							</h3>
							<p class="newscontent clearfix">
								<span class="ico start fl"></span>
								<a href="">
									北京电影节宣传片 电影节最新片单：纪念大师塔可夫斯基
								</a>
							</p>
						</li>
					</ul>
					<ul class="picnews fr">
						<li class="item_a">
							<a href="" class="pic_a pr">
								<img src="img/yule/yuletoutiao2.jpg"/>
								<span class="bgbox">
									宋仲基张根硕爆早年床照
								</span>
							</a>
							<div class="text">
								<a href="">
									二人表情陶醉
								</a>
							</div>
						</li>
						<li class="item_a mr0">
							<a href="" class="pic_a pr">
								<img src="img/yule/yuletoutiao3.jpg"/>
								<span class="bgbox">
									宋仲基张根硕爆早年床照
								</span>
							</a>
							<div class="text">
								<a href="">
									二人表情陶醉
								</a>
							</div>
						</li>
						<li class="item_a">
							<a href="" class="pic_a pr">
								<img src="img/yule/yuletoutiao4.jpg"/>
								<span class="bgbox">
									宋仲基张根硕爆早年床照
								</span>
							</a>
							<div class="text">
								<a href="">
									二人表情陶醉
								</a>
							</div>
						</li>
						<li class="item_a mr0">
							<a href="" class="pic_a pr">
								<img src="img/yule/yuletoutiao5.jpg"/>
								<span class="bgbox">
									宋仲基张根硕爆早年床照
								</span>
							</a>
							<div class="text">
								<a href="">
									二人表情陶醉
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="wrap like">
				<header class="head1 clearfix">
					<h2 class="title fl">
						<a href="" class="title1">猜你喜欢</a>
					</h2>
					<a href="" class="more fl">更多></a>
					<div class="name fl">
						<a href="" class="name1 fl">我的收藏</a>
						<span class="ico line fl"></span>
						<a href="" class="name1 fl">我的上传</a>
					</div>
				</header>
				<ul class="content1 clearfix">
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yulexihuan1.jpg"/>
						</a>
						<a href="" class="text">
							易阳千玺遇BB亲切拍肩
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yulexihuan2.jpg"/>
						</a>
						<a href="" class="text">
							易阳千玺遇BB亲切拍肩
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yulexihuan3.jpg"/>
						</a>
						<a href="" class="text">
							易阳千玺遇BB亲切拍肩
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yulexihuan4.jpg"/>
						</a>
						<a href="" class="text">
							易阳千玺遇BB亲切拍肩
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yulexihuan5.jpg"/>
						</a>
						<a href="" class="text">
							易阳千玺遇BB亲切拍肩
						</a>
					</li>
					<li class="item3 mr0">
						<a href="">进入个人中心></a>
					</li>
				</ul>
			</div>
			<div class="wrap star">
				<header class="head1 clearfix">
					<h2 class="title fl">
						<a href="" class="title1">明星资讯</a>
					</h2>
					<a href="" class="more fl">更多></a>
					<div class="name fl">
						<a href="" class="name1 fl">王源生日会</a>
						<span class="ico line fl"></span>
						<a href="" class="name1 fl">王俊凯生日会</a>
						<span class="ico line fl"></span>
						<a href="" class="name1 fl">易阳千玺生日会</a>
						<span class="ico line fl"></span>
						<a href="" class="name1 fl">杨洋生日见面会</a>
					</div>
				</header>
				<ul class="content1 clearfix">
					<li class="item_b">
						<a href="" class="pic_b">
							<img src="img/yule/yulemingxing1.jpg"/>
						</a>
						<a href="" class="text">
							胡歌不顾偶像包袱秀歌喉：享受灵魂在路上
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yulemingxing2.jpg"/>
						</a>
						<a href="" class="text">
							唐安琪完成脸部植皮手术
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yulemingxing3.jpg"/>
						</a>
						<a href="" class="text">
							唐安琪完成脸部植皮手术
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yulemingxing4.jpg"/>
						</a>
						<a href="" class="text">
							唐安琪完成脸部植皮手术
						</a>
					</li>
					<li class="item_a mr0">
						<a href="" class="pic_a">
							<img src="img/yule/yulemingxing5.jpg"/>
						</a>
						<a href="" class="text">
							唐安琪完成脸部植皮手术
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yulemingxing6.jpg"/>
						</a>
						<a href="" class="text">
							唐安琪完成脸部植皮手术
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yulemingxing7.jpg"/>
						</a>
						<a href="" class="text">
							唐安琪完成脸部植皮手术
						</a>
					</li>
					<li class="item_a">
						<a href=""class="pic_a" >
							<img src="img/yule/yulemingxing8.jpg"/>
						</a>
						<a href="" class="text">
							唐安琪完成脸部植皮手术
						</a>
					</li>
					<li class="item_a mr0">
						<a href="" class="pic_a">
							<img src="img/yule/yulemingxing9.jpg"/>
						</a>
						<a href="" class="text">
							唐安琪完成脸部植皮手术
						</a>
					</li>
				</ul>
			</div>
			<div class="wrap korea">
				<header class="head1 clearfix">
					<h2 class="title fl">
						<a href="" class="title1">韩娱资讯</a>
					</h2>
					<a href="" class="more fl">更多></a>
					<div class="name fl">
						<a href="" class="name1 fl">第30届韩国金唱片颁奖盛典</a>
						<span class="ico line fl"></span>
						<a href="" class="name1 fl">第25届首尔歌谣大赏</a>
						<span class="ico line fl"></span>
						<a href="" class="name1 fl">2015MAMA亚洲音乐盛典</a>
					</div>
				</header>
				<div class="content1 clearfix">
					<div class="item_b">
						<a href="" class="pic_b">
							<img src="img/yule/yulehanyu1.jpg"/>
						</a>
						<a href="" class="text">
							众星助阵韩国首尔时装周 Tiffany半丸子头显可爱
						</a>
					</div>
					<ul class="pic_list fl clearfix">
						<li class="item_a">
							<a href="" class="pic_a">
								<img src="img/yule/yulehanyu2.jpg"/>
							</a>
							<a href="" class="text">
								小S新节目有望首邀宋仲基
							</a>
						</li>
						<li class="item_a">
							<a href="" class="pic_a">
								<img src="img/yule/yulehanyu3.jpg"/>
							</a>
							<a href="" class="text">
								小S新节目有望首邀宋仲基
							</a>
						</li>
						<li class="item_a">
							<a href="" class="pic_a">
								<img src="img/yule/yulehanyu4.jpg"/>
							</a>
							<a href="" class="text">
								小S新节目有望首邀宋仲基
							</a>
						</li>
						<li class="item_a mr0">
							<a href="" class="pic_a">
								<img src="img/yule/yulehanyu5.jpg"/>
							</a>
							<a href="" class="text">
								小S新节目有望首邀宋仲基
							</a>
						</li>
						<li class="item_a">
							<a href="" class="pic_a">
								<img src="img/yule/yulehanyu6.jpg"/>
							</a>
							<a href="" class="text">
								小S新节目有望首邀宋仲基
							</a>
						</li>
						<li class="item_a">
							<a href="" class="pic_a">
								<img src="img/yule/yulehanyu7.jpg"/>
							</a>
							<a href="" class="text">
								小S新节目有望首邀宋仲基
							</a>
						</li>
						<li class="item_a">
							<a href="" class="pic_a">
								<img src="img/yule/yulehanyu8.jpg"/>
							</a>
							<a href="" class="text">
								小S新节目有望首邀宋仲基
							</a>
						</li>
						<li class="item_a mr0">
							<a href="" class="pic_a">
								<img src="img/yule/yulehanyu9.jpg"/>
							</a>
							<a href="" class="text">
								小S新节目有望首邀宋仲基
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="wrap film clearfix">
				<div class="film1 fl">
					<header class="head1 clearfix">
						<h2 class="title fl">
							<a href="" class="title1">影视资讯</a>
						</h2>
						<a href="" class="more fl">更多></a>
						<div class="name fl">
							<a href="" class="name1 fl">《老炮儿》全球首映礼</a>
							<span class="ico line fl"></span>
							<a href="" class="name1 fl">独家策划：花千骨开启IP元年</a>
							<span class="ico line fl"></span>
							<a href="" class="name1 fl">独家策划：《伪装者》内涵哒</a>
						</div>
					</header>
					<div class="content1 clearfix">
						<div class="item_b">
							<a href="" class="pic_b">
								<img src="img/yule/yuleyingshi1.jpg"/>
							</a>
							<a href="" class="text">
								《火锅英雄》爆另类英雄预告“火锅帮”九死一生
							</a>
						</div>
						<ul class="pic_list fl clearfix">
							<li class="item_a">
								<a href="" class="pic_a">
									<img src="img/yule/yuleyingshi2.jpg"/>
								</a>
								<a href="" class="text">
									金像奖提名候选人合照曝光
								</a>
							</li>
							<li class="item_a">
								<a href="" class="pic_a">
									<img src="img/yule/yuleyingshi3.jpg"/>
								</a>
								<a href="" class="text">
									金像奖提名候选人合照曝光
								</a>
							</li>
							<li class="item_a mr0">
								<a href="" class="pic_a">
									<img src="img/yule/yuleyingshi4.jpg"/>
								</a>
								<a href="" class="text">
									金像奖提名候选人合照曝光
								</a>
							</li>
							<li class="item_a">
								<a href="" class="pic_a">
									<img src="img/yule/yuleyingshi5.jpg"/>
								</a>
								<a href="" class="text">
									金像奖提名候选人合照曝光
								</a>
							</li>
							<li class="item_a">
								<a href="" class="pic_a">
									<img src="img/yule/yuleyingshi6.jpg"/>
								</a>
								<a href="" class="text">
									金像奖提名候选人合照曝光
								</a>
							</li>
							<li class="item_a mr0">
								<a href="" class="pic_a">
									<img src="img/yule/yuleyingshi7.jpg"/>
								</a>
								<a href="" class="text">
									金像奖提名候选人合照曝光
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="film2 fr">
					<header class="head1 clearfix">
						<h2 class="title fl">
							<a href="" class="title1">娱乐风云榜</a>
						</h2>
						<a href="" class="more mr0 fl">更多></a>
					</header>
					<ul class="content1 clearfix">
						<li class="item1">
							<a href="">
								<img src="img/yule/yuleyingshi8.jpg"/>
							</a>
						</li>
						<li class="item2 clearfix">
							<span class="ico two fl"></span>
							<a href="">
								《爱奇艺早班机》精选
							</a>
						</li>
						<li class="item3 clearfix">
							<span class="ico three fl"></span>
							<a href="">
								《爱奇艺早班机》精选
							</a>
						</li>
						<li class="item4">
							<a href="">
								<img src="img/yule/yuleyingshi9.jpg"/>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="ad1">
				<a href="">
					<img src="img/yule/yulead1.jpg"/>
				</a>
			</div>
			<div class="wrap hot">
				<header class="head1">
					<h2 class="title fl">
							<a href="" class="title1">热点专题</a>
						</h2>
						<a href="" class="more fl">更多></a>
						<div class="name fl">
							<a href="" class="name1 fl">尖叫2016爱奇艺之夜</a>
						</div>
				</header>
				<ul class="content1 clearfix">
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yuleredian1.jpg"/>
						</a>
						<a href="" class="text">
							全程报道：3.20“隆诗”大婚
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yuleredian2.jpg"/>
						</a>
						<a href="" class="text">
							全程报道：3.20“隆诗”大婚
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yuleredian3.jpg"/>
						</a>
						<a href="" class="text">
							全程报道：3.20“隆诗”大婚
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yuleredian4.jpg"/>
						</a>
						<a href="" class="text">
							全程报道：3.20“隆诗”大婚
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yuleredian5.jpg"/>
						</a>
						<a href="" class="text">
							全程报道：3.20“隆诗”大婚
						</a>
					</li>
					<li class="item_a mr0">
						<a href="" class="pic_a">
							<img src="img/yule/yuleredian6.jpg"/>
						</a>
						<a href="" class="text">
							全程报道：3.20“隆诗”大婚
						</a>
					</li>
				</ul>
			</div>
			<div class="wrap music">
				<header class="head1">
					<h2 class="title fl">
						<a href="" class="title1">音乐演出</a>
					</h2>
					<a href="" class="more fl">更多></a>
					<div class="name fl">
						<a href="" class="name1 fl">“看见李健”健谈会</a>
						<span class="ico line fl"></span>
						<a href="" class="name1 fl">关爱自闭症儿童公益晚会</a>
					</div>
				</header>
				<div class="content1 clearfix">
					<div class="item_b">
						<a href="" class="pic_b">
							<img src="img/yule/yuleyinyue1.jpg"/>
						</a>
						<a href="" class="text">
							《冰河追凶》发主题曲MV魏晨献唱《破绽》
						</a>
					</div>
					<ul class="pic_list fl clearfix">
						<li class="item_a">
							<a href="" class="pic_a">
								<img src="img/yule/yuleyinyue2.jpg"/>
							</a>
							<a href="" class="text">
								窦唯悄无声息发布新专辑
							</a>
						</li>
						<li class="item_a">
							<a href="" class="pic_a">
								<img src="img/yule/yuleyinyue3.jpg"/>
							</a>
							<a href="" class="text">
								窦唯悄无声息发布新专辑
							</a>
						</li>
						<li class="item_a">
							<a href="" class="pic_a">
								<img src="img/yule/yuleyinyue4.jpg"/>
							</a>
							<a href="" class="text">
								窦唯悄无声息发布新专辑
							</a>
						</li>
						<li class="item_a mr0">
							<a href="" class="pic_a">
								<img src="img/yule/yuleyinyue5.jpg"/>
							</a>
							<a href="" class="text">
								窦唯悄无声息发布新专辑
							</a>
						</li>
						<li class="item_a">
							<a href="" class="pic_a">
								<img src="img/yule/yuleyinyue6.jpg"/>
							</a>
							<a href="" class="text">
								窦唯悄无声息发布新专辑
							</a>
						</li>
						<li class="item_a">
							<a href="" class="pic_a">
								<img src="img/yule/yuleyinyue7.jpg"/>
							</a>
							<a href="" class="text">
								窦唯悄无声息发布新专辑
							</a>
						</li>
						<li class="item_a">
							<a href="" class="pic_a">
								<img src="img/yule/yuleyinyue8.jpg"/>
							</a>
							<a href="" class="text">
								窦唯悄无声息发布新专辑
							</a>
						</li>
						<li class="item_a mr0">
							<a href="" class="pic_a">
								<img src="img/yule/yuleyinyue9.jpg"/>
							</a>
							<a href="" class="text">
								窦唯悄无声息发布新专辑
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="ad2">
				<a href="">
					<img src="img/yule/yulead2.jpg"/>
				</a>
			</div>
			<div class="wrap self">
				<header class="head1">
					<h2 class="title fl">
							<a href="" class="title1">爱奇艺出品</a>
						</h2>
						<a href="" class="more fl">更多></a>
				</header>
				<ul class="content1 clearfix">
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yuleaiqiyichupin1.jpg"/>
						</a>
						<a href="" class="text">
							张若钧兄弟反目抢擄校花
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yuleaiqiyichupin2.jpg"/>
						</a>
						<a href="" class="text">
							张若钧兄弟反目抢擄校花
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yuleaiqiyichupin3.jpg"/>
						</a>
						<a href="" class="text">
							张若钧兄弟反目抢擄校花
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yuleaiqiyichupin4.jpg"/>
						</a>
						<a href="" class="text">
							张若钧兄弟反目抢擄校花
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yuleaiqiyichupin5.jpg"/>
						</a>
						<a href="" class="text">
							张若钧兄弟反目抢擄校花
						</a>
					</li>
					<li class="item_a mr0">
						<a href="" class="pic_a">
							<img src="img/yule/yuleaiqiyichupin6.jpg"/>
						</a>
						<a href="" class="text">
							张若钧兄弟反目抢擄校花
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yuleaiqiyichupin7.jpg"/>
						</a>
						<a href="" class="text">
							张若钧兄弟反目抢擄校花
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yuleaiqiyichupin8.jpg"/>
						</a>
						<a href="" class="text">
							张若钧兄弟反目抢擄校花
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yuleaiqiyichupin9.jpg"/>
						</a>
						<a href="" class="text">
							张若钧兄弟反目抢擄校花
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yuleaiqiyichupin10.jpg"/>
						</a>
						<a href="" class="text">
							张若钧兄弟反目抢擄校花
						</a>
					</li>
					<li class="item_a">
						<a href="" class="pic_a">
							<img src="img/yule/yuleaiqiyichupin11.jpg"/>
						</a>
						<a href="" class="text">
							张若钧兄弟反目抢擄校花
						</a>
					</li>
					<li class="item_a mr0">
						<a href="" class="pic_a">
							<img src="img/yule/yuleaiqiyichupin12.jpg"/>
						</a>
						<a href="" class="text">
							张若钧兄弟反目抢擄校花
						</a>
					</li>
				</ul>
			</div>
			<div class="partner clearfix">
				<header class="head1">
					<h2 class="title fl">
						<a href="" class="title1">合作伙伴</a>						
					</h2>
					<a href="" class="more fl">更多></a>
				</header>
				<ul class="item1 fl">
					<li>
						<a href="">网易娱乐</a>
					</li>
					<li>
						<a href="">爱美网</a>
					</li>
					<li>
						<a href="">东方女性网</a>
					</li>
				</ul>
				<ul class="item1 fl">
					<li>
						<a href="">中国网娱乐</a>
					</li>
					<li>
						<a href="">67中国娱乐网</a>
					</li>
					<li>
						<a href="">中国丽人网</a>
					</li>
				</ul>
				<ul class="item1 fl">
					<li>
						<a href="">中国日报网</a>
					</li>
					<li>
						<a href="">漂亮女人</a>
					</li>
					<li>
						<a href="">大众网娱乐</a>
					</li>
				</ul>
				<ul class="item1 fl">
					<li>
						<a href="">中国娱乐网</a>
					</li>
					<li>
						<a href="">品善网</a>
					</li>
					<li>
						<a href="">花边星闻</a>
					</li>
				</ul>
				<ul class="item1 fl">
					<li>
						<a href="">娱乐八卦</a>
					</li>
					<li>
						<a href="">姿尚女性网</a>
					</li>
					<li>
						<a href="">星明网</a>
					</li>
				</ul>
				<ul class="item1 fl">
					<li>
						<a href="">红网娱乐</a>
					</li>
					<li>
						<a href="">女人志娱乐</a>
					</li>
					<li>
						<a href="">猫扑天津</a>
					</li>
				</ul>
				<ul class="item1 fl">
					<li>
						<a href="">北方网娱乐</a>
					</li>
					<li>
						<a href="">哈秀时尚网</a>
					</li>
					<li>
						<a href="">ELLE</a>
					</li>
				</ul>
				<ul class="item1 fl">
					<li>
						<a href="">中华娱乐网</a>
					</li>
					<li>
						<a href="">娱乐盒子</a>
					</li>
					<li>
						<a href="">Dispatch集团</a>
					</li>
				</ul>
				<ul class="item1 fl">
					<li>
						<a href="">华裔娱乐</a>
					</li>
					<li>
						<a href="">美乐网</a>
					</li>
				</ul>
				<ul class="item1 fl">
					<li>
						<a href="">商都娱乐</a>
					</li>
					<li>
						<a href="">琳琳女性网</a>
					</li>
				</ul>
				<ul class="item1 fl">
					<li>
						<a href="">西部网娱乐</a>
					</li>
					<li>
						<a href="">hres爱物网</a>
					</li>
				</ul>
				<ul class="item1 fl">
					<li>
						<a href="">维度女性娱乐</a>
					</li>
					<li>
						<a href="">时尚世界</a>
					</li>
				</ul>
				<ul class="item1 fl">
					<li>
						<a href="">米娜时尚网</a>
					</li>
					<li>
						<a href="">6M时尚</a>
					</li>
				</ul>
				<ul class="item1 fl">
					<li>
						<a href="">明星网</a>
					</li>
					<li>
						<a href="">第一视频娱乐</a>
					</li>
				</ul>
			</div>
		</section>
		<footer class="foot">
			<div class="last1">
				<a href="" class="">关于腾讯</a>
				<span class="line"></span>
				<a href="" class="">About Tencent</a>
				<span class="line"></span>
				<a href="" class="">服务条款</a>
				<span class="line"></span>
				<a href="" class="">用户服务协议</a>
				<span class="line"></span>
				<a href="" class="">广告服务</a>
				<span class="line"></span>
				<a href="" class="">腾讯招聘</a>
				<span class="line"></span>
				<a href="" class="">客服中心</a>
				<span class="line"></span>
				<a href="" class="">网站导航</a>
			</div>
			<div class="last2">
				caakckkk @ 爱奇艺 all hkacj
			</div>
		</footer>
	</body>
</html>
